<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Fake Steam Codes (Copied to Clipboard!)</th>
    </tr>
  </thead>
  <tbody>
    <% @get_codes.each do |item| %>
      <tr>
        <td><%= item %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
